body{
    background-image: linear-gradient(to right, #E3FDF5 10%, #FFE6FA 100%);
}
/* Toast CSS */
.toast {
    width: 15rem;
    position: fixed;
    top: 20px;
    right: -200px;
    /* Initially off-screen to the right */
    background-color: #4CAF50;
    /* Green background */
    color: white;
    padding: 16px;
    border-radius: 8px;
    z-index: 9999;
    display: none;
    /* Changed from 'none' to 'block' */
    animation: slideInRight 0.5s forwards;
    /* Slide in animation */
}

@keyframes slideInRight {
    from {
        right: -200px;
        /* Start off-screen to the right */
    }

    to {
        right: 20px;
        /* End at the desired position */
    }
}

.toast.error {
    background-color: #f44336;
    color: white;
    /* Red background for error */
}