@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {

    font-family: "Poppins", sans-serif;
}

:root {
    --white-color: #fff;
    --blue-color: #4070f4;
    --grey-color: #707070;
    --grey-color-light: #aaa;
}

body {
    font-family: american typewriter, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, #E3FDF5 10%, #FFE6FA 100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent scrolling */
}


/* Overlay styling */
.overlay {
    position: fixed;
    top: 0;
    display: flex;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    
}

/* Overlay content styling */
.overlay-content {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 20%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: slideIn 0.3s ease-in-out;
    background-image: linear-gradient(to right, #E3FDF5 10%, #FFE6FA 100%);
}

/* Heading styling */
.overlay-head {
    margin-bottom: 20px;
    font-size: 24px;
   font-weight: bold;
    color: var(--grey-color);
}

/* Form group styling */

.form-group {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    animation: slideDownFromUp 0.7s ease-in-out;
    /* Adjust timing as needed */
}


.form-control {
    /* padding: 1rem 1rem; */
    /* Adjusted padding to center placeholder vertically */
    font-size: 1rem;
    /* Increased font size */
    border: 1px solid #ced4da;
    border-radius: 20px;
    transition: border-color 0.3s ease;
    margin-right: 1rem;
    flex: 1;
    /* Allow input fields to grow */
    height: 3rem;
    /* Increased height for input fields */
    transition: transform 0.3s ease-in-out;

}

.form-control.wide {
    flex: 2;
    /* Make first two fields wider */
}

.form-control:focus {
    box-shadow: 0 0 10px #5DADE2;
    outline: 1px solid #85C1E9;
    /* Add a solid outline */
}

.form-control:hover {
    box-shadow: 0 0 10px #5DADE2;
    transition: 0.3s;

}

.form-control-placeholder {
    position: absolute;
    top: 40%;
    left: 0.75rem;
    transform: translateY(-50%);
    /* Center placeholder vertically */
    pointer-events: none;
    transition: top 0.2s, font-size 0.2s, transform 0.2s;
    font-size: 16px;
    color: #999;

}

.form-control:focus+.form-control-placeholder,
.form-control:not(:placeholder-shown)+.form-control-placeholder {
    top: -0.2rem;
    /* Adjusted position when focused */
    font-size: 0.80rem;
    font-weight: 400;
    background-color: white;
    border-radius: 5px;
    border-color: #85C1E9;
    border-top: 1px solid #85C1E9;
    /* Adding border top */
    transform: translateY(0);
    /* Reset transform */
    color: #000;
}

.form-control {
    transition: box-shadow 0.3s ease, transform 0.3s ease-in-out;
}


/* Label styling */
.select-label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}

.class-select:hover{
    box-shadow: 0 0 10px #5DADE2;
    transition: 0.3s;
}

/* Select dropdown styling */
.class-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.class-select:focus {
    border-color: #007bff;
    outline: none;
}

/* Button styling */
/* styles.css */

.submit-button {
    background-color: transparent;
    border: none;
    color: black;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    max-height: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 10px;
}

.submit-button img {
    width: 25px;
    height: 25px;
    border-radius: 0px;
    margin: 5px;
}

.submit-button span {
    margin-right: 10px;
}

.submit-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.submit-button:focus {
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.icon-container {
    position: absolute; /* Position icon container absolutely */
    top: 10px; /* Set top position from edge */
    left: 10px; /* Set left position from edge */
  }
  
  /* Style the invoice icon within the container */
  .topicon {
    display: block; /* Ensure icon displays on its own line */
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
  }
  
  /* Style the close icon */
  .close-icon {
    position: absolute; /* Position close icon absolutely */
    top: 0px; /* Set top position from edge */
    right: 10px; /* Set right position from edge */
    font-size: 40px; /* Adjust font size as needed */
    cursor: pointer; /* Indicate clickable behavior */
    font-size: 2rem;   
    color: #aaa;
    float: right;    
    font-weight: bold;
  }

.close-icon:hover,
.close-icon:focus {
    color: black;    
    text-decoration: none;
    cursor: pointer;
}



@keyframes slideIn {
    0% {
        transform: translateY(100%) scale(0.9);
        opacity: 0;
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}


@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}
