@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {

    font-family: "Poppins", sans-serif;
}

:root {
    --white-color: #fff;
    --blue-color: #4070f4;
    --grey-color: #707070;
    --grey-color-light: #aaa;
}

body {
    font-family: american typewriter, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, #E3FDF5 10%, #FFE6FA 100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent scrolling */
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Center vertically */
}

.card {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 0px 25px;
    font-size: 0.8rem;
    animation: slideIn 0.8s forwards;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 300px;
    /* Adjust height as needed */
    outline: none;
    margin: 0 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card button {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}

.card:hover {
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    box-shadow: 0 0 8px #023047;
    outline: none;
}



.button {
    position: relative;
    /* Set button position to relative */
}

.dotlottie-container {
    position: absolute;
    bottom: 2rem;
    /* Adjust the value to move it slightly up */
    left: 0;
    right: 0;
    margin: auto;
    /* Center horizontally */
}


.card h3 {
    position: absolute;
    bottom: 10px;
    /* Adjust as needed */
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1rem;
    /* Adjust font size as needed */
    color: var(--grey-color);
    /* Apply color as needed */
    transition: transform 0.5s ease, font-size 0.5s ease;
    /* Apply specified properties */
}

/* Animation */
@keyframes slideIn {
    0% {
        transform: translateY(100%) scale(0.9);
        opacity: 0;
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}



.dropdown {
    position: fixed;
    top: 20px;
    right: 5px;
    z-index: 1;
}

.dropdown-button {
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    animation: slide-in 0.7s ease forwards;
    /* Apply animation to slide in */
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}



.dropdown-button:hover {
    transform: scale(1.1);
}

.dropdown-content {
    background-color: transparent;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: 11rem;
    align-items: center;
    transition: transform 0.3s ease-out;
    /* Add transition for smooth appearance */
    transform: translateX(120%);
    border: 5px solid transparent;
    border-radius: 12px;
}

.dropdown-content button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    /* display: block; */
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    border-radius: 0.8rem;
}

.dropdown-button:hover+.dropdown-content,
.dropdown-content:hover {
    /* display: block; Display dropdown content when dropdown button is hovered or when dropdown content is hovered */
    transform: translateX(0);
    /* Move to left when displayed */
}

.dropdown-content button:hover {
    background-color: #AED6F1;

}

.adm-head {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    color: var(--grey-color);

}

/* CSS for overlay styling */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Make overlay non-scrollable */
    z-index: 1000;
    /* Ensure overlay is above other elements */
    display: none;
    transition: opacity 0.3s ease-in-out;
    /* animation: slideInFromBottom 0.1s ease-in-out; */
}
.overlay-content {
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    padding: 1rem;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    border-radius: 1rem;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.2);
    /* Add shadow for better visibility */
    transition: transform 0.3s ease-in-out;
}


.overlay-head {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    color: var(--grey-color);

}

/* Slide-in from bottom animation */
@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

.overlay.hide {
    opacity: 0;
    animation: slideOutToBottom 0.1s ease-out;
}


/* Slide-out to bottom animation */
@keyframes slideOutToBottom {
    0% {
        opacity: 1;
        transform: translateY(0rem);
    }

    100% {
        opacity: 0;
        transform: translateY(5rem);
    }
}

.overlay-content h2 {
    margin-top: 0;
}

.overlay-content form {
    margin-bottom: 1.2rem;
}

.overlay-content input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.6rem;
    box-sizing: border-box;
}


.overlay-content table {
    width: 100%;
    border-collapse: collapse;
}



.form-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}


.form-group {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.form-Searchgroup {
    position: relative;  
    display: flex;
    align-items: center;
    margin: 0 auto; /* Center the element horizontally */
    width: 30rem; /* 500px converted to rem (assuming 1rem = 16px)

.form-Searchgroup {
    display: flex;
    align-items: center;
}
.form-controlSearch {
    flex: 1; /* This will make the input field take up the remaining space */
}
.form-control {
    padding: 1rem 1rem;
    /* Adjusted padding to center placeholder vertically */
    font-size: 1rem;
    /* Increased font size */
    border: 1px solid #ced4da;
    border-radius: 10px;
    transition: border-color 0.3s ease;
    margin-right: 1rem;
    flex: 1;
    /* Allow input fields to grow */
    height: 3rem;
    /* Increased height for input fields */
}

.form-control.wide {
    flex: 2;
    /* Make first two fields wider */
}

.form-control:focus {
    box-shadow: 0 0 10px #5DADE2;
    outline: 1px solid #85C1E9; /* Add a solid outline */
}

.form-control-placeholder {
    position: absolute;
    top: 40%;
    left: 0.75rem;
    transform: translateY(-50%);
    /* Center placeholder vertically */
    pointer-events: none;
    transition: top 0.2s, font-size 0.2s, transform 0.2s;
    font-size: 16px;
    color: #999;

}

.form-control:focus+.form-control-placeholder,
.form-control:not(:placeholder-shown)+.form-control-placeholder {
    top: -0.2rem;
    /* Adjusted position when focused */
    font-size: 0.80rem;
    font-weight: 400;
    background-color: white;
    transform: translateY(0);
    /* Reset transform */
    color: #000;
}



.addVendorForm {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* Space between elements */
}

/* .addBookForm {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Space between rows */   

/* Form Styles */
form {
    margin-bottom: 0px;
}

label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 3rem;   
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-icon:hover,
.close-icon:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.icon {
    width: 50px;    
    height: 50px;    
    border-radius: 50%;    
    vertical-align: middle;   
    margin-top: 5px;  
    cursor: pointer;   
}

.topicon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;      /* Optional: Adds some padding to the icon */
    color: white;       /* Optional: Sets the color of the icon */
    width: 50px;    
    height: 50px;   
}


.icon-container {
    display: flex;
    align-items: center;
}

.icon-container .vendorIcon {
    margin-right: 10px;   
    width: 50px;   
    height: 50px;   
    vertical-align: middle;
}

.icon-container h2 {
    margin: 0;    
}


.vendorIcon {
    position: absolute;
    top: 42%;
    right: 120px; /* Adjust as needed */
    transform: translateY(-50%); /* This centers the icon vertically */
    width: 40px;
    height: 40px;
}

#refreshvendorbutton {
    margin-bottom: 15px; /* Add margin between the buttons */
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
    border: none;
    border-radius: 20px;
    height: 2.3rem;
    width: 6rem;
    font-size: 1rem; /* Reduce the font size */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px; /* Add padding to fit content */
    transition: all 0.3s; /* Add transition for smooth hover effect */
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
#refreshvendorbutton img{
    height: 80%; /* Set image height to fit button */
    margin-right: 5px; /* Add a 5px margin to the right of the image */
}

#refreshvendorbutton:hover {
    background-color: #76D7C4; /* Change background color on hover */
    transform: scale(1.09); /* Increase size on hover */
}

/* Table styling */
.table-container {
    max-height: 26.25rem; /* Adjust the height as needed */
    overflow-y: auto;
    margin-top: 0.625rem; /* Adjust the margin as needed */
}

#vendorTable, #booksTable {
    width: 95%;
    border-collapse: separate; /* Change this to separate */
    border-spacing: 0; /* Add this */
    border-radius: 1rem;   
    box-shadow: 0 0 0 1px #dddddd;
    margin: auto; /* Center the table */
    /* Add this to handle child's overflow */
    /* overflow: hidden; */
}

#vendorTable th, #booksTable th,
#vendorTable td, #booksTable td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 0.5rem;
}

#vendorTable th, #booksTable th {
    background-color: #2C3E50;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

#vendorTable td, #booksTable td {
    border: 1px solid #dddddd;
    text-align: center;
    height: 3.125rem; /* 50px converted to rem */
    overflow: hidden; /* Hide content that overflows */
}


#vendorTable td button, #booksTable td button {
    max-height: 100%; /* Ensure buttons do not exceed cell height */
}

#vendorTable tr:hover, #booksTable tr:hover {
    background-color: #D6DBDF; /* Change the background color to a light gray */
}

#vendorTable tr td, #booksTable tr td {
    transition: font-weight 0.1s; /* Add a smooth transition */
}

#vendorTable tr:hover td, #booksTable tr:hover td {
    font-weight: bold; /* Make the text bold on hover */
}

.tableFixHead {
    overflow-y: auto; /* Make the table scrollable if height is more than 200px */
    height: 43rem; /* 700px converted to rem */
}

.tableFixHead thead th {
    position: sticky; /* Make the table heads sticky */
    top: 0px; /* Table head will be placed from the top of the table and sticks to it */       
    z-index: 1;
}
table {
    border-collapse: collapse; /* Make the table borders collapse to each other */
    width: 100%;
}
.tableFixHead tbody {
    min-height: 37.5rem; /* 600px converted to rem */
}


/* Assign fixed width to the columns of vendorTable */
#vendorTable td:nth-child(1), 
#vendorTable th:nth-child(1) {
    width: 25%;
}

#vendorTable td:nth-child(2), 
#vendorTable th:nth-child(2) {
    width: 25%;
}

#vendorTable td:nth-child(3), 
#vendorTable th:nth-child(3) {
    width: 25%;
}

#vendorTable td:nth-child(4), 
#vendorTable th:nth-child(4) {
    width: 25%;
}

/* Assign fixed width to the columns of booksTable */
#booksTable td:nth-child(n), 
#booksTable th:nth-child(n) {
    width: 11.11%;
}


.custom-prompt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.prompt-content {
    text-align: center;
}

.prompt-content label {
    display: block;
    margin-bottom: 0.6rem;
}

.prompt-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 0.6rem;
    box-sizing: border-box;
}

.prompt-content button {
    padding: 0.5rem 1.25rem; /* 8px and 20px converted to rem */
    margin-right: 0.625rem; /* 10px converted to rem */
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 0.1875rem; /* 3px converted to rem */
    cursor: pointer;
}

.prompt-content button:hover {
    background-color: #45a049;
}

.prompt-content button:last-child {
    background-color: #f44336;
}

.prompt-content button:last-child:hover {
    background-color: #d32f2f;
}






.custom-dropdown {
    height: 2.8125rem; /* Adjust the height as needed */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../../images/down-arrow.png'); /* Set your PNG image */
    background-size: 1.5625rem 1.5625rem; /* Adjust the size of your image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    padding-right: 1.25rem; /* Add more padding on the right for the image */
    background-position: calc(100% - 0.5rem) center; /* Position the image to the extreme right */
    /* Adjust the value based on the size of your image and padding */
    padding: 0.5rem 1.5rem; /* Adjust padding as needed */
    border: 0.0625rem solid #ccc; /* Adjust border as needed */
    border-radius: 0.625rem; /* Adjust border-radius as needed */
    font-size: 1rem; /* Adjust font size as needed */
    cursor: pointer;
    position: relative; /* Add position relative to allow absolute positioning */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth effect */
}


.custom-dropdown:hover,
.custom-dropdown:focus {
    box-shadow: 0 0 10px #5DADE2; /* Add shadow on hover and focus */
    border: 1px solid #85C1E9;
    outline: none;
}



/* Style the dropdown arrow (if necessary) */
.custom-dropdown::after {
    content: '\25BC'; /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
}