body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;   
    padding: 20px;
    background-color: transparent;   
    margin-top: 9rem;
}

.head {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    color: var(--grey-color);
}




#refereshButton{
    margin-bottom: 15px; /* Add margin between the buttons */
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
    border: none;
    border-radius: 20px;
    height: 2.3rem;
    width: 6rem;
    font-size: 1rem; /* Reduce the font size */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px; /* Add padding to fit content */
    transition: all 0.3s; /* Add transition for smooth hover effect */
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#refreshButton img{
    height: 80%; /* Set image height to fit button */
    margin-right: 5px; /* Add a 5px margin to the right of the image */
}

#refereshButton:hover {
    background-color: #76D7C4; /* Change background color on hover */
    transform: scale(1.09); /* Increase size on hover */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#searchBar {    
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 20px;
    height: 1.8rem;      
}


@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.invoice-table-container {
    display: block;
    height: 550px; /* Adjust the 20px to the height of other elements above/below the table */
    overflow-y: auto;
    border: 1px solid #ddd; /* Optional: Add a border around the scrollable area */
    animation: fadeUp 0.5s ease-out; /* Apply the fade-up animation */
    border-radius: 10px;
    box-sizing: border-box; /* Ensure padding and border are included in the height */
    margin-right: 2rem;
}


table {
    width: 100%;
    border-collapse: collapse;
    
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #2C3E50;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;    
}  
  


tr:hover {
    background-color: #D6DBDF;
}

tr td {
    transition: background-color 0.3s ease;
}

tr:hover td {
    font-weight: bold;    
}


    

 /* Modal styles */
 .modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    position: relative;
    margin: auto;
    padding: 1rem;
    border: 1px solid #888;
    width: 22rem; /* Slightly larger to accommodate padding and borders */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    top: 9rem;
    animation: fadeUp 0.3s ease-in-out;
}

.close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

h2, h3 {
    text-align: center;
}

.form-group {
    position: relative;
    width: 100%; /* Ensure the form group takes up the full width of the container */
    max-width: 20rem; /* Set the maximum width for the form group */
    margin-bottom: 1.5rem;    
}

.form-control {
    font-size: 1rem;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    text-align: center;
}

.form-control-placeholder {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    background-color: white;
    padding: 0 0.25rem;
    pointer-events: none;
    transition: all 0.2s;
    color: #aaa;
}

.form-control:focus + .form-control-placeholder,
.form-control:not(:placeholder-shown) + .form-control-placeholder {
    top: -0.75rem;
    left: 0.5rem;
    background-color: white;
    font-size: 0.75rem;
    color: #000;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
}



  .modal-btn span {
    margin-right: 10px;
  }

  .modal-content h2{
    font-size: 2rem;   
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    pointer-events: auto;
    color: #484b51;
}

.modal-content h3{
    font-size: 1.5rem;   
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    pointer-events: auto;
    color: #484b51;   
    
}

.styled-button {
    background-color: transparent;
    border: none;
    color: black; /* Change text color to black */
    padding: 10px 20px; /* Add some padding */
    text-align: center;
    text-decoration: none;
    display: flex; /* Use flex for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px; /* Round corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
    transition: transform 0.2s, box-shadow 0.2s; /* Transition for transform and box-shadow */
    margin-bottom: 10px; /* Added margin bottom for spacing */
}

.styled-button:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #76D7C4;
}

.styled-button img {
    width: 25px; 
    height: 25px; 
    margin-right: 5px; /* Adjusted margin for better spacing */
}
     
/* loading aniamtion */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    /* Semi-transparent white background */
    backdrop-filter: blur(5px);
    /* Adjust blur as needed */
    z-index: 9999;
    /* Ensure the overlay appears on top of other content */
    display: none;
}

/* HTML: <div class="loader"></div> */
.pyramid-loader {
    position: relative;
    width: 300px;
    height: 150px;
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
  }
  
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
  }
  
  @keyframes spin {
    100% {
      transform: rotateY(360deg);
    }
  }
  
  .pyramid-loader .wrapper .side {
    width: 70px;
    height: 70px;
    background: linear-gradient(to bottom right, #FFA500, #FF4500);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  
  .pyramid-loader .wrapper .side1 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: linear-gradient(to bottom right, #FF4500, #FFA500);
  }
  
  .pyramid-loader .wrapper .side2 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: linear-gradient(to bottom right, #FFA500, #FF4500);
  }
  
  .pyramid-loader .wrapper .side3 {
    transform: rotateX(30deg);
    background: linear-gradient(to bottom right, #FFA500, #FF4500);
  }
  
  .pyramid-loader .wrapper .side4 {
    transform: rotateX(-30deg);
    background: linear-gradient(to bottom right, #FF4500, #FFA500);
  }
  
  .pyramid-loader .wrapper .shadow {
    width: 60px;
    height: 60px;
    background: #FF8C00;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(90deg) translateZ(-40px);
    filter: blur(12px);
  }


#output {
    margin-left: 1rem;
  }



  #output {
    width: 100%;
    max-height: calc(88vh - 1rem); /* Set maximum height for the table container */
    overflow-y: auto;
    margin-top: 0.625rem; /* Set margin between the table container and overlay content */
    border-radius: 10px;
    margin-bottom: 1rem;
}


/* Adjust height of table body to fit between overlay content and bottom margin */




@keyframes l6-0 {
    0% {
        background-position: 0 100%, 100% 100%, 100% 0
    }

    33% {
        background-position: 100% 100%, 100% 100%, 100% 0
    }

    66% {
        background-position: 100% 0, 100% 0, 100% 0
    }
}

@keyframes l6-0-0 {
    0% {
        transform: scaleX(1) rotate(0deg)
    }

    50% {
        transform: scaleX(-1) rotate(-90deg)
    }
}

@keyframes l6-1 {
    16.5% {
        transform: perspective(150px) rotateX(-90deg) rotateY(0deg) rotateX(0deg);
        filter: grayscale(0.8)
    }

    33% {
        transform: perspective(150px) rotateX(-180deg) rotateY(0deg) rotateX(0deg)
    }

    66% {
        transform: perspective(150px) rotateX(-180deg) rotateY(-180deg) rotateX(0deg)
    }

    100% {
        transform: perspective(150px) rotateX(-180deg) rotateY(-180deg) rotateX(-180deg);
        filter: grayscale(0.8)
    }
}

/* Define thin and curved scrollbar */
::-webkit-scrollbar {
    width: 8px;
    /* Set the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar handle */
    border-radius: 10px;
    /* Make the scrollbar handle curved */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar handle on hover */
}