/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --white-color: #fff;
    --blue-color: #4070f4;
    --grey-color: #707070;
    --grey-color-light: #aaa;
}

body {
    background-color: #F7F9F9; 
    /*background-image: linear-gradient(to right, #E3FDF5 10%, #FFE6FA 100%);*/
    transition: all 0.5s ease;
}

body.dark {
    background-color: #333;
}

body.dark {
    --white-color: #333;
    --blue-color: #fff;
    --grey-color: #f2f2f2;
    --grey-color-light: #aaa;
}

/* navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    z-index: 1000;
    box-shadow: 0 0 2px var(--grey-color-light);
    overflow: hidden; /* Ensure contents don't overflow outside the navbar */
}

.logo_item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 22px;
    font-weight: 500;
    color: var(--blue-color);
}

.navbar img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.search_bar {
    height: 47px;
    max-width: 430px;
    width: 100%;
}

.search_bar input {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    font-size: 18px;
    outline: none;
    background-color: var(--white-color);
    color: var(--grey-color);
    border: 1px solid var(--grey-color-light);
    padding: 0 20px;
}

.navbar_content {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.logo_item,
.navbar img,
.search_bar,
.navbar_content {
    position: relative; /* Ensure proper positioning for animation */
    animation: slideFromTop 0.5s ease forwards; /* Apply animation to slide in */
}

#logo {
    width: auto; /* Allow the width to adjust based on the image's original size */
    max-height: 100px; /* Set a maximum height to prevent the logo from becoming too tall */
    display: block; /* Ensure the image behaves as a block element */
    margin: 0 auto; /* Center the image horizontally within its container */
}


@keyframes slideFromTop {
    0% {
        transform: translateY(-500%); /* Start off-screen above */
    }
    100% {
        transform: translateY(0); /* Slide to the bottom */
    }
}

/* password prompt */

.password-prompt-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's on top of other content */
    display: none; /* Initially hidden */
}

/* Styles for the password prompt modal */
.password-prompt {
    background-color: white;
    padding: 2rem;
    border-radius: 0.9rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative; /* Ensure relative positioning for icon */
}

.password-prompt h3 {
    margin-bottom: 1rem;
}

/* Input field styles */
.password-prompt input {
    width: 80%;
    padding: 1rem; /* Adjusted padding to center placeholder vertically */
    font-size: 1rem; /* Increased font size */
    border: 1px solid #ced4da;
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Added box-shadow transition */
    margin-bottom: 1rem; /* Margin below the input */
    margin-top: 1rem;
    height: 3rem; /* Increased height for input fields */
}

/* Hover and focus effects for the input field */
.password-prompt input:focus,
.password-prompt input:hover {
    box-shadow: 0 0 8px #5DADE2; /* Add shadow on hover and focus */
    border-color: #85C1E9; /* Border color on focus */
    outline: none; /* Remove default outline */
}

/* Styles for buttons container */
.password-prompt-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Space between buttons */
}

/* Styles for OK button */
#passwordPromptOk {
    background-color: #58D68D;
}

/* Styles for Cancel button */
#passwordPromptCancel {
    background-color: #34495E;
}

/* General button styles */
.password-prompt button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.8rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform transition */
    margin: 0.5rem 0; /* Margin above and below the buttons */
    height: 3rem; /* Match the input field height */
    width: 5rem; /* Set a fixed width for both buttons */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); /* Add shadow to buttons */
}

/* Hover effects for both buttons */
#passwordPromptOk:hover,
#passwordPromptCancel:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
}

#passwordPromptOk:hover {
    background-color: #2ECC71;
}

#passwordPromptCancel:hover {
    background-color: #2C3E50;
}

/* sidebar */
.sidebar {
    background-color: var(--white-color);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
}

.menu_content, .menu_editor{
    animation: slideIn 0.5s ease forwards; /* Apply animation to slide in */
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }


.item{
    animation: slideIn 0.9s ease forwards; /* Apply animation to slide in */
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.sidebar.close {
    padding: 60px 0;
    width: 80px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.menu_content {
    position: relative;
}

.menu_title {
    margin: 15px 0;
    padding: 0 20px;
    font-size: 18px;
}

.sidebar.close .menu_title {
    padding: 6px 30px;
}

.menu_title::before {
    color: var(--grey-color);
    white-space: nowrap;
}

.menu_dahsboard_1::before {
    content: "User Management";
    font-weight: 500;
}

.menu_dahsboard_2::before {
    content: "Academics";
    font-weight: 500;
}

.menu_dahsboard_3::before {
    content: "Services";
    font-weight: 500;

}

.menu_dahsboard_4::before {
    content: "Others";
}

.sidebar.close .menu_title::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 18px;
    border-radius: 12px;
    background: var(--grey-color-light);
}

.menu_items {
    padding: 0;
    list-style: none;
}

.navlink_icon {
    position: relative;
    font-size: 22px;
    min-width: 50px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
}

.navlink_icon::before {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100% + 100px);
    left: -20px;
}

.navlink_icon:hover {
    background: var(--blue-color);
}

.sidebar .nav_link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--grey-color);
    white-space: nowrap;
}

.sidebar.close .navlink {
    display: none;
}

.nav_link:hover {
    color: var(--white-color);
    background: var(--blue-color);
}

.sidebar.close .nav_link:hover {
    background: var(--white-color);
}

.submenu_item {
    cursor: pointer;
}

.submenu {
    display: none;
}

.submenu_item .arrow-left {
    position: absolute;
    right: 10px;
    display: inline-block;
    margin-right: auto;
}

.sidebar.close .submenu {
    display: none;
}

.show_submenu~.submenu {
    display: block;
}

.show_submenu .arrow-left {
    transform: rotate(90deg);
}

.submenu .sublink {
    padding: 5px 15px 5px 62px;
}

.bottom_content {
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 260px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.bottom {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    justify-content: space-around;
    padding: 18px 0;
    text-align: center;
    width: 100%;
    color: var(--grey-color);
    border-top: 1px solid var(--grey-color-light);
    background-color: var(--white-color);
}

.bottom i {
    font-size: 20px;
}

.bottom span {
    font-size: 18px;
}

.sidebar.close .bottom_content {
    width: 50px;
    left: 15px;
}

.sidebar.close .bottom span {
    display: none;
}

.sidebar.hoverable .collapse_sidebar {
    display: none;
}

#sidebarOpen {
    display: none;
}

@media screen and (max-width: 768px) {
    #sidebarOpen {
        font-size: 25px;
        display: block;
        margin-right: 10px;
        cursor: pointer;
        color: var(--grey-color);
    }

    .sidebar.close {
        left: -100%;
    }

    .search_bar {
        display: none;
    }

    .sidebar.close .bottom_content {
        left: -100%;
    }
}


.custom_icon {
    width: 25px;
    height: 25px;
}

  
@keyframes slid {
    0% {
        opacity: 0;
        transform: translateY(-100px); /* Start off-screen above */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Slide to the final position */
    }
}

/*
.main_container {
    background-image: linear-gradient(to right, #E3FDF5 10%, #FFE6FA 100%);
    position: absolute;
    top: 70px;
    left: 260px;
    width: calc(100% - 260px);
    height: calc(100% - 70px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-y: auto;
}

.sub_container {
    background-color: rgba(255, 255, 255, 0.8);
    height: 80px;
    margin: 25px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: row;
    animation: slid 1.2s ease forwards; 
}

.count_details {
    flex-direction: column;
    display: flex;
    align-items: center;
    flex: 0 0 70%; 
    background-color: white;
    border-radius: 10px;
    padding-right: 15px; 
}

.count_img {
    flex: 1; 
    background-color: white; 
    border-radius: 10px; 
    margin-top: 2px;
    margin-right: 3px;
}

.title {
    color: var(--grey-color);
    flex: 1; 
    text-align: center; 
    font-weight: 600;
    margin-top: 8px; 
    font-size: 12px;
}

.count {
    flex: 1; 
    text-align: center; 
    font-weight: 800;
    font-size: 40px;
    color: #566573;
    margin-top: -5px; 
    margin-bottom: 8px; 
}
*/


  /* Toast container to hold multiple toasts */
.toast-container {
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 9999;
}

/* Toast CSS */
.toast {
    width: 15rem;
    margin-bottom: 10px;
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 16px;
    border-radius: 8px;
    display: none; 
    animation: slideInRight 0.5s forwards; /* Slide in animation */
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOutRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

.toast.error {
    background-color: #f44336; /* Red background for error */
}



.dashboard_contents {
    background-color: #F8F9F9;
    position: absolute;
    top: 70px;
    /* Adjusted to match the height of the navbar */
    left: 260px;
    /* Adjusted to match the width of the sidebar */
    width: calc(100% - 260px);
    /* Adjusted to subtract the width of the sidebar */
    height: calc(100% - 70px);
    /* Adjusted to match the remaining height after the navbar */
    /* Adjusted to match the height of the navbar */
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    grid-auto-rows: min-content; /* Adjust row height based on content */
    overflow-y: auto;
    /* Add overflow-y:auto if you want scrollbars */
    padding: 10px; /* Add padding to ensure content doesn't touch the edges */
    box-sizing: border-box; /* Include padding in the element's total width and height */
  }
  
  .user_details {
    background-color: transparent;
    width: 100%;
    height: 80px;
    /* Align it at the top */
    grid-column: 1 / -1; /* Span across all columns */
    border-radius: 20px; /* Optional: Add border radius */
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 equal-width containers */
    gap: 5%; /* Optional: Add gap between containers */
    padding: 10px; /* Optional: Add padding inside the user_details container */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    overflow: hidden; /* Hide any overflow content */
  }
  
  .user_detail_item {
    background-color: #D6EAF8; /* Optional: Background color for each item */
    border-radius: 10px; /* Optional: Add border radius */
    display: flex;
    flex-direction: column; /* Stack count and title vertically */
    align-items: center;
    justify-content: center; /* Center content */
    padding: 10px; /* Optional: Add padding inside each item */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    overflow: hidden; /* Hide any overflow content */
  }
  
  .detail_title {
    font-weight: bold; /* Make the title bold */
    margin-top: 5px; /* Add some space between count and title */
  }
  
  .detail_count {
    font-size: 20px; /* Increase font size for count */
    font-weight: bold; /* Make the count bold */
  }
  
  .graph_and_library_container {
    display: flex;
    justify-content: space-between; /* Distribute space between the two containers */
    width: 100%; /* Ensure the container takes full width */
    margin-top: 20px; /* Add some space above the new containers */
  }
  
  .graph {
    display: flex;
    height: 100%; /* Full height */
    width: 39.5%; /* Full width */
  }
  
  .male_female_graph, .fee_status {
    width: 50%; /* 50% width each */
    height: 100%; /* Full height */
    display: flex;
    flex-direction: column; /* Stack title and chart vertically */
    align-items: center;
    justify-content: center; /* Center content */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    overflow: hidden; /* Hide any overflow content */
    border: 2px solid #ccc; /* Add border */
    border-radius: 10px; /* Optional: Add border radius */
  }
  
  .male_female_graph {
    background-color: transparent; /* Background color for the male_female_graph container */
    margin-right: 5px;
  }
  
  .fee_status {
    background-color: transparent; /* Background color for the fee_status container */
  }
  
  .pie_chart {
    width: 80%; /* Set width for the pie chart */
    height: auto; /* Maintain aspect ratio */
  }
  
  .pie_chart .slice {
    fill: none; /* No fill for the circle */
    stroke: #4CAF50; /* Stroke color for the slice */
    stroke-width: 32; /* Stroke width for the slice */
    stroke-dasharray: 60 40; /* Example dasharray for the slice */
    transform: rotate(-90deg); /* Rotate to start from the top */
    transform-origin: center; /* Rotate around the center */
  }
  
  
  .library_details {
    background-color: white; /* Background color for the new container */
    width: 60%; /* Set width to 60% */
    height: 300px; /* Set height to 300px */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal-width containers per row */
    gap: 10px; /* Add gap between containers */
    padding: 10px; /* Add padding inside the library_details container */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    overflow: hidden; /* Hide any overflow content */
    position: relative; /* For positioning the heading */
    border: 2px solid #ccc; /* Add border */
    border-radius: 10px; /* Optional: Add border radius */
  }
  
  .library_item {
    background-color: #E8F8F5; /* Background color for each item */
    border-radius: 10px; /* Optional: Add border radius */
    display: flex;
    flex-direction: column; /* Stack count and title vertically */
    align-items: center;
    justify-content: center; /* Center content */
    padding: 10px; /* Optional: Add padding inside each item */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    overflow: hidden; /* Hide any overflow content */
  }
  
  /*.container_heading {
    position: absolute;
    top: 30px; 
    left: 10px;
    font-size: 24px; 
    font-weight: bold;
  }
