<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.mygeoapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MyGeoApp</name>
    <description>Sample Apache Cordova Geolocation App</description>
    <author email="dev@example.com" href="https://example.com">
        Example Developer
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Add these lines for geolocation permissions -->
    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>
    </platform>

    <platform name="ios">
        <config-file platform="ios" target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>We need your location to show your current position.</string>
        </config-file>
    </platform>
</widget>