/* Body styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3fbf5;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/* Container */
.container {
    width: 100%;
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Blue section */
.blue-section {
    flex: 3;
    background-color: #3466af;
    display: flex;
    justify-content: space-between;  /* Space between details, GIF, and sign-out button */
    align-items: center;  /* Align items vertically center */
    padding: 20px;
    box-sizing: border-box;
    position: relative;  /* For positioning sign-out button */
}

/* Sign-out Button styles */
.signout-button {
    position: absolute;
    top: 5px;
    right: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.signout-button img {
    width: 30px; /* Set the width of the image */
    height: auto;
}

.signout-button:hover img {
    filter: brightness(0.8); /* Optional: Add a hover effect */
}

/* Driver details styles */
.driver-details {
    text-align: left;
    color: white;
}

.driver-details p {
    margin: 5px 0;
}

.driver-name {
    font-size: 40px; /* Huge font for the driver name */
    font-weight: 700; /* Bold font weight */
}

.vehicle-info, .conductor-info {
    font-size: 14px;
}

/* Driver GIF styles */
.driver-gif {
    display: flex;
    align-items: center;
    justify-content: center;
}

.driver-gif img {
    max-width: 70px; /* Adjust size as needed for visual balance */
    height: auto;
    border-radius: 50%; /* Add rounded corners */
}

/* White section */
.white-section {
    flex: 7;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center contents vertically */
    position: relative;
}

/* Title styles */
.title {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 32px;  /* Increased font size */
    font-weight: 500; /* Made the font bold */
    font-family: "Poppins", sans-serif;
    color: #3466af;
}

/* Card styles */
.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

/* Button card styles */
.button-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Button styles */
.button-card button {
    padding: 10px 20px;
    background-color: #3466af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 150px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.button-card button:hover {
    background-color: #2e57a0;
}

/* Shift Button styles */
.shift-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 5px;
    cursor: pointer;
    max-width: 150px; /* Adjust the max-width as needed */
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.shift-button img {
    max-width: 100px; /* Adjust the max-width to fit the screen */
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%; /* Optional: Add rounded corners */
}

.shift-button span {
    font-size: 14px;
    color: #3466af;
}

.shift-button:hover {
    background-color: #e0e0e0;
}

/* Spinner Container */
.spinner-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3466af;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Hidden class */
.hidden {
    display: none;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.modal button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3466af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #2e57a0;
}

/* Shift details styles */
#shift-details-container {
    margin-bottom: 20px;
}

#shift-details-container p {
    margin: 5px 0;
}

/* Search bar styles */
#search-container {
    margin-bottom: 20px;
}

#search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Student details styles */
#student-details-container {
    margin-top: 20px;
}

.route-container {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.route-container h3 {
    margin: 0 0 10px 0;
}

.student-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.student-list li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-content p {
    margin: 5px 0;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-group button {
    margin-top: 5px;
    padding: 5px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.button-group button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.button-group button:hover {
    background-color: #ddd;
}

/* Responsive Styles */
@media (max-width: 480px) {
    .title {
        font-size: 28px; /* Adjusted for smaller screens */
        font-weight: 500;
    }

    .button-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .button-card button {
        padding: 8px 16px;
        max-width: 120px;
    }

    .card {
        margin-top: 50px;
    }

    .driver-details p {
        font-size: 14px;
    }

    .driver-name {
        font-size: 34px; /* Huge font for the driver name on smaller screens */
    }

    .driver-gif img {
        max-width: 70px;
    }
}

@media (max-width: 360px) {
    .title {
        font-size: 24px; /* Adjusted for smaller screens */
        font-weight: 500;
    }

    .button-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .button-card button {
        padding: 6px 12px;
        max-width: 100px;
    }

    .card {
        margin-top: 40px;
    }

    .driver-details p {
        font-size: 12px;
    }

    .driver-name {
        font-size: 30px; /* Huge font for the driver name on smaller screens */
    }

    .driver-gif img {
        max-width: 60px;
    }
}