/* Body styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3fbf5;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/* Shift details styles */
#shift-details-container {
    margin-bottom: 20px;
}

#shift-details-container p {
    margin: 5px 0;
}

/* Search bar styles */
#search-container {
    margin-bottom: 20px;
}

#search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Student details styles */
#student-details-container {
    margin-top: 20px;
}

.route-container {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.route-container h3 {
    margin: 0 0 10px 0;
}

.student-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.student-list li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-content p {
    margin: 5px 0;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-group button {
    margin-top: 5px;
    padding: 5px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.button-group button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.button-group button:hover {
    background-color: #ddd;
}

/* Responsive Styles */
@media (max-width: 480px) {
    .student-list li {
        flex-direction: column;
        align-items: flex-start;
    }

    .button-group {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .button-group button {
        margin: 5px;
    }
}