@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {

    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    overflow-y: auto !important;
} 

.main {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 1s forwards; /* Apply fade-in animation */
    flex-direction: column;
    text-align: center; /* Center align the contents horizontally */
}


@keyframes fadeIn {
    from {
        opacity: 0; /* Start with opacity 0 */
    }
    to {
        opacity: 1; /* End with opacity 1 */
    }
}

.container {
    width: 100px;
    height: 200px;
    background-color: white;
    margin-top: 0%;
}

.container-wrapper {
    animation: slideInContainer 0.5s forwards;
    /* Apply slide in animation to the container */
}

@keyframes slideInContainer {
    from {
        opacity: 0;
        transform: translateX(100%);
        /* Start off-screen to the right */
    }

    to {
        opacity: 1;
        transform: translateX(0);
        /* End at the desired position */
    }
}



.details {
    text-align: center; /* Center align the contents */
    width: 70%;
    margin: 0 auto;
}



h2 {
    color: #333;
    font-size: 14px; /* Reduce the font size */
}

.h2-wrapper {
    animation: slideInH2 0.8s forwards; /* Apply slide in animation to the h2 */
}
@keyframes slideInH2 {
    from {
        opacity: 0;
        transform: translateX(100%);
        /* Start off-screen to the right */
    }

    to {
        opacity: 1;
        transform: translateX(0);
        /* End at the desired position */
    }
}


form {
    margin-top: 20px;
    animation: slideInFade 0.8s forwards;
    opacity: 0; /* Set initial opacity to 0 */
}

@keyframes slideInFade {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


label {
    /* Remove float property */
    color: black;
    font-size: 1.4rem;
    /* float: left; */ /* Remove this line */
    margin-left: 0.4rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: left; /* Change to 'flex-start' if you want inputs to align to the left */
}

.input-container input,
.input-container select {
    width: 100%; /* Set all inputs and select elements to have the same width */
    background-color: transparent;
    padding: 10px 10px 15px 50px;
    /* Added left padding to move placeholders to the right */
    margin-bottom: 10px;
    border: none;
    /* Remove the border */
    border-bottom: 1px solid #ccc;
    /* Add bottom border */
    border-radius: 0;
    /* Remove border radius */
    outline: none;
    border-bottom-width: 0.6px; /* Adjust this value as needed */
    /* Remove default input outline */
    transition: border-color 0.4s ease; /* Change the duration as needed */
}

.input-container input:focus,
.input-container select:focus {
    border-bottom-color: #2ECC71;
    border-bottom-width: 1.5px; /* Adjust this value as needed */
}

.input-wrapper {
    position: relative;
    display: inline-block; /* Change to inline-block */
    text-align: left; /* Align the text inside input-wrapper */
}


.input-wrapper .icon-wrapper {
    position: absolute;
    left: 10px;
    /* Adjust the left position as needed */
    top: 35%;
    transform: translateY(-50%);
}

.input-wrapper .icon-wrapper img {
    width: 22px;
    height: 22px;
}

#class-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;

}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#alert-box {
    margin-top: -100px;
    width: 100%; /* Adjust as needed */
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px #AEB6BF;
    text-align: center; /* Center text horizontally */
}

#alert-message {
    color: black;
    font-size: 12px;
}

.radio-wrapper {
    display: inline-flex;
    align-items: center;
    margin: 20px;
    margin-top: 10px;
}

.radio-wrapper input[type="radio"] {
    vertical-align: middle; /* Align the radio button vertically with the label */
    margin-right: 5px; /* Adjust the margin between the radio button and label */
}

.radio-wrapper input[type="radio"]:hover {
    cursor: pointer;
}

.radio-wrapper label {
    font-size: 16px; /* Adjust the font size as needed */
    white-space: nowrap; /* Prevent text wrapping */
}


.submit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    margin: 20px 10px;
    background-color: #48C9B0; /* Background color for the submit button */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold; /* Make the text bold */

    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s; /* Add transition effect for transform, background-color, and box-shadow */
}


.reset {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    margin: 20px 10px;
    background-color: #2E4053; /* Background color for the submit button */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold; /* Make the text bold */
    transition: transform 0.3s /* Add transition effect for transform, background-color, and box-shadow */
}


.submit:hover {
    transform: scale(1.1); /* Increase size by 10% on hover */
}

.reset:hover {
    transform: scale(1.1); /* Increase size by 10% on hover */
}




