/* Style for the suggestions container */
.suggestions {
    border-radius: 5px 5px 5px 5px; /* Rounded corners */
    max-height: 10rem;
    width: 18.7rem;
    overflow-y: auto;
    position: absolute;
    background: white;
    z-index: 1000;
    /* /* margin-top: 65%;  */
    top: 3.3rem;
    display: none;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 25px 25px;
}

/* Style for each suggestion item */
.suggestion-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1.5px solid #eee;
}

/* Style for the last suggestion item to remove the bottom border */
.suggestion-item:last-child {
    border-bottom: none;
}

.suggestion-item:hover {
    background: #D6EAF8;
    font-weight: bold;
}

/* No results styling */
.no-results {
    color: #999;
    font-style: italic;
    pointer-events: none;
    text-align: center;
}

/* Customize the scrollbar */
.suggestions::-webkit-scrollbar {
    width: 4px;
}

.suggestions::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

.suggestions::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.suggestions::-webkit-scrollbar-track {
    background: transparent;
}