/* Style for the suggestions container */
.suggestions {
    border-radius: 5px;
    /* Rounded corners */
    max-height: 10rem;
    width: auto; /* Ensure it expands to fit content, but we will dynamically adjust it */
    max-width: 18.7rem; /* Limit max width */
    min-width: 100%; /* Allow it to stretch based on the input field */
    overflow-y: auto;
    position: absolute;
    background: white;
    z-index: 1000;
    display: none;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional: Add a subtle shadow */
    color: black;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    top: 100%; /* Position it below the input box */
    left: 0; /* Align it with the left of the input box */
    border-radius: 0px 0px 25px 25px;
}

/* Style for each suggestion item */
.suggestion-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1.5px solid #eee;
}

/* Style for the last suggestion item to remove the bottom border */
.suggestion-item:last-child {
    border-bottom: none;
}

.suggestion-item:hover {
    background: #D6EAF8;
    font-weight: bold;
}

/* No results styling */
.no-results {
    color: #999;
    font-style: italic;
    pointer-events: none;
    text-align: center;
}

/* Customize the scrollbar */
.suggestions::-webkit-scrollbar {
    width: 4px;
}

.suggestions::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

.suggestions::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.suggestions::-webkit-scrollbar-track {
    background: transparent;
}